Asistente RAG - Consulta de Manuales Internos.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: advanced-chat
  name: Asistente RAG - Consulta de Manuales Internos
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:1.0.1@b513bf843af4619450bdc15f32e995f90ebdeee143b1cccef442a867099b3397
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: llm
        targetType: answer
      id: llm-answer
      source: llm
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: knowledge-retrieval
      id: 1784753620170-source-1784754143170-target
      source: '1784753620170'
      sourceHandle: source
      target: '1784754143170'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1784754143170-source-llm-target
      source: '1784754143170'
      sourceHandle: source
      target: llm
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: Inicio
        type: start
        variables: []
      height: 73
      id: '1784753620170'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1784754143170'
          - result
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-5.6-sol
          provider: langgenius/openai/openai
        prompt_template:
        - id: 76cbec15-65d6-457a-8809-38963779a599
          role: system
          text: 'Eres un asistente de soporte interno estricto. Tu objetivo es responder
            la pregunta del usuario utilizando ÚNICAMENTE la información provista
            en el contexto recuperado.


            Reglas obligatorias:

            1. Si la respuesta no se encuentra explícitamente en el contexto, responde
            exactamente: "Lo siento, no cuento con esa información en los manuales
            autorizados."

            2. No inventes plazos, reglas ni políticas bajo ninguna circunstancia.

            3. Sé profesional, claro y directo.


            Contexto: {{#context#}}'
        selected: false
        title: LLM
        type: llm
        vision:
          enabled: false
      height: 88
      id: llm
      position:
        x: 681
        y: 303
      positionAbsolute:
        x: 681
        y: 303
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#llm.text#}}'
        selected: false
        title: Respuesta
        type: answer
        variables: []
      height: 103
      id: answer
      position:
        x: 986
        y: 303
      positionAbsolute:
        x: 986
        y: 303
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - k4oxhMrgGmAj6E4HyaY2rnMHoXJaXnj44HJhD+QMDenm/Z3yYyW8dtbgemJg/Coj
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: weighted_score
          score_threshold: null
          top_k: 3
          weights:
            keyword_setting:
              keyword_weight: 0.3
            vector_setting:
              embedding_model_name: text-embedding-3-large
              embedding_provider_name: langgenius/openai/openai
              vector_weight: 0.7
            weight_type: customized
        query_attachment_selector: []
        query_variable_selector:
        - '1784753620170'
        - sys.query
        retrieval_mode: multiple
        selected: false
        title: Recuperación de conocimiento
        type: knowledge-retrieval
      height: 90
      id: '1784754143170'
      position:
        x: 380
        y: 303
      positionAbsolute:
        x: 380
        y: 303
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 0
      y: 118
      zoom: 1
  rag_pipeline_variables: []
